.pictureFrame{
   width: 10vw;
   height: 6vw;
   margin: 0.2vw;
   float: left;
   border-style: solid;
   border-width: 3px;

}
.pictureFrameGallery{
    width: 10vw;
   height: 6vw;
   margin: 0.2vw;
   float: left;
   transition: width 2s, height 1s;
}

#content{
    padding-left: 1.7vw;
}
#outercontent{
    width: 100%;
    text-align: center;
}
.images{
    width: 10vw;
    height: 6vw;
    cursor: pointer;
    float:left;
}

#form{
    margin-bottom: 10px;
}

#searchButton{
    margin-top: 10px;
}

#searchTop{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#filterButton{
    margin-top: 10px;
    margin-left: 5px;
}
#bottom{
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
#pageButtons{
    width: 65%;
    margin: 0 auto;
    padding-left: 30vw
}
#backButton{
    float: left;
    margin-left: 10px;
}

#forwadButton{
    float: left;
    margin-right: 10px;
}
#firstPage{
    float: left;
}
#lastPage{
    float: left;
}
#pageNr{
    width:200px;
    float: left;
}
